@model Test_Crud_Operation.Models.ViewModel.EmployeeVM
@{
    ViewData["Title"] = "Upsert";
    var title = Model.Employee.Id != 0 ? "Edit Employee" : "New Employee";
    var saveUpdate = Model.Employee.Id != 0 ? "Update" : "Save";
}

<div class="row">
    <div class="col-md-8">
        <form id="employeeForm" method="post" enctype="multipart/form-data">
            @if (Model.Employee.Id != 0)
            {
                <input type="hidden" asp-for="@Model.Employee.Id">
            }
            <div class="row">
                <div class="col-9">
                    <h2 class="text-primary">@title</h2>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="col-8">
                <div class="form-group row m-2 p-2">
                    <div class="col-4">
                        <label asp-for="Employee.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Employee.Name" class="form-control" />
                        <span asp-validation-for="Employee.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row m-2 p-2">
                    <div class="col-4">
                        <label asp-for="Employee.Address"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Employee.Address" class="form-control" />
                        <span asp-validation-for="Employee.Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row m-2 p-2">
                    <div class="col-4">
                        <label asp-for="Employee.City"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Employee.City" class="form-control" />
                        <span asp-validation-for="Employee.City" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row m-2 p-2">
                    <div class="col-4">
                        <label asp-for="Employee.Salary"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Employee.Salary" class="form-control" />
                        <span asp-validation-for="Employee.Salary" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row m-2 p-2">
                    <div class="col-4">
                        <label asp-for="Employee.DateJoined"></label>
                    </div>
                    <div class="col-8">
                        @if (Model.Employee.Id != 0)
                        {
                            <input asp-for="Employee.DateJoined"  class="form-control"
                               value="@Model.Employee.DateJoined.ToString("yyyy-MM-dd")" readonly />
                        }
                        else
                        {
                            <input asp-for="Employee.DateJoined" id="datepickers" class="form-control" />
                        }
                        <span asp-validation-for="Employee.DateJoined" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row m-2 p-2">
                    <div class="col-4">
                        <label asp-for="Employee.DepartmentId"></label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(m=>m.Employee.DepartmentId,Model.
                        DepartmentList,"Select Department",new{@class="form-control"})
                        <span asp-validation-for="Employee.DepartmentId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row m-2 p-2">
                    <div class="col-4">
                        <label asp-for="Employee.Images"></label>
                    </div>
                    <div class="col-8">
                        <input type="file" name="imageUrl" class="form-control" multiple />
                        <span asp-validation-for="Employee.Images" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row m-2 p-2">
                    <div class="col-8 offset-4 ">
                        <div class="form-group row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-info form-control">@saveUpdate</button>
                            </div>
                            <div class="col-6">
                                <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @if (Model.Employee.Images != null && Model.Employee.Images.Count > 0)
        {
            
                
            foreach (var image in Model.Employee.Images)
            {
                <img src="@Url.Content("~/" + image.ImageUrl)" class="img-fluid img-thumbnail" 
                style="max-width: 150px; max-height: 150px; margin-bottom: 10px;" />
                <button type="button" class="btn btn-danger" onclick="deleteImage('@Url.Action("DeleteImage",
                new { id = image.Id })', '@image.Id')">Delete</button>
            }
            
        }
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}


<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        var currentTime = new Date();
        var month = currentTime.getMonth() + 1;
        var day = currentTime.getDate();
        var year = currentTime.getFullYear();

        // Display the date in the desired format

        // If you want to set this date in the datepicker or an input field
        $('#datepickers').val(month + "/" + day + "/" + year);
    });
    $('#employeeForm').submit(function () {
        var selectedImages = [];
        $('input[name="deleteImages"]:checked').each(function () {
            selectedImages.push($(this).val());
        });

        $('<input>').attr({
            type: 'hidden',
            name: 'deleteImages',
            value: selectedImages.join(',')
        }).appendTo('#employeeForm');

        return true; // Allow form to submit
    });


    function deleteImage(url, imageId) {
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this image!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: url,
                    type: "DELETE",
                    success: function (data) {
                        if (data.success) {
                            // Remove the image from the DOM
                            $("#image-" + imageId).remove();
                            swal("Image deleted successfully!", {
                                icon: "success",
                            }).then(()=>{
                                location.reload();
                            });
                        } else {
                            swal("Image not deleted!", {
                                icon: "error",
                            });
                        }
                    }
                });
            }
        });
    }
</script>